<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-brand">Barang</div>
  <div class="page-status">Total :&nbsp;<b>{{total}}</b></div>
  <ul class="pagination">
    <li><a ng-click="prev_page()"><i class="fa fa-chevron-left"></i></a></li>
    <li><a class="disabled">{{start + 1}} &mdash; {{stop}}</a></li>
    <li><a ng-click="next_page()"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
  <div class="pull-right">
    <div class="page-status">Limit :&nbsp;
      <input style="width:50px;display: inline" ng-model="limit" ng-change="set_limit()" ng-model-options="{debounce:800}" class="form-control"/>
    </div>
  </div>
</nav>
<div class="col-sm-5 pull-left">
  <button ng-click="var.hidForm=false;var.edit=false" ng-show="var.hidForm" class="btn btn-sm btn-primary-outline"><i class="fa fa-plus"></i> Add</button>
</div>
<form uib-collapse="var.hidForm" style="clear:both" class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6">
      <label>Name:</label>
      <input type="text" ng-model="form.name" placeholder="Name" required="" class="form-control"/>
    </div>
    <div class="col-md-6">
      <label>Value:</label>
      <input type="text" ng-model="form.value" placeholder="Value" class="form-control"/>
    </div>
  </div>
  <div class="panel-footer">
    <input ng-hide="var.edit" type="button" value="Save" ng-click="save()" class="btn btn-default"/>
    <input ng-show="var.edit" type="button" value="Update" ng-click="edit()" class="btn btn-default"/>&nbsp;
    <input type="button" ng-click="reset_fm()" value="Cancel" class="btn btn-default"/>
  </div>
</form>
<table class="table table-hover table-outline m-b-0 hidden-sm-down">
  <thead class="thead-default">
    <tr>
      <th class="text-xs-center"><i class="fa fa-check-square-o"></i></th>
      <th class="text-xs-center">ID</th>
      <th>Name</th>
      <th>Value</th>
      <th class="text-xs-center">Regitered</th>
      <th class="text-xs-center"><i class="icon-settings"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(i,x) in nut" class="slide">
      <td class="text-xs-center">
        <input type="checkbox" values="{{x.id}}"/>
      </td>
      <td class="text-xs-center">{{x.id}}</td>
      <td>{{ x.name }}</td>
      <td class="text-xs-center">{{ x.value }}</td>
      <td class="text-xs-center">{{ x.created_at }}</td>
      <td class="text-xs-center"><a href="" ng-click="edit_fm(i)" title="Edit" class="fa fa-edit"></a> | <a href="" ng-click="del(i)" title="Delete" class="fa fa-trash-o"></a></td>
    </tr>
  </tbody>
</table>